<div class="card container align-content-center">
  <div class="card-header">
    <h1>Edycja</h1>
  </div>
  <div class="card-body">

    <%= render "form", pin: @pin %>

    <br>

    <div>
      <%= link_to "Pokaż pin", @pin %> |
      <%= link_to "Powrót do pinów", pins_path %>
    </div>
  </div>
  <div class="card-footer">
    <% if user_signed_in? %>
      <%= link_to "Nowy pin", new_pin_path %>
    <% end %>
  </div>
</div>