
<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
  <%= link_to "Obrazowo", root_path, class:'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <%= link_to "Strona Główna", root_path %>
      </li>
      <li class="nav-item active">
        <%= link_to "O mnie", home_about_path %>
      </li>

    </ul>
  </div>
</nav>