<div class="container">
  <h1>Lorem Ipsum</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus felis sem, vel finibus magna elementum in.
    Maecenas ut diam quis lorem bibendum lobortis eu a mi. Maecenas scelerisque fringilla venenatis. Maecenas tempus
    gravida fringilla. Morbi ullamcorper dolor ac condimentum aliquam. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Nulla neque purus, varius id ligula vel, auctor volutpat risus. </p>
  <%= link_to "Strona Główna", root_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "O mnie", home_about_path, class: "btn btn-warning" %>
</div>