<div class="container">
  <h1>Lorem Ipsum</h1>
  <p>In eu mollis risus, sed tincidunt mi. Nam vel nunc turpis. Duis non purus sit amet enim varius auctor et nec purus.
    Morbi pulvinar leo ut neque sodales, sed tincidunt erat tincidunt. Fusce fringilla convallis congue. Nunc a
    condimentum dui. Ut tempor est orci, at venenatis magna auctor vitae. Morbi facilisis tortor eget est mattis, non
    aliquet lacus hendrerit. Quisque varius justo ut malesuada mollis. </p>
  <%= link_to "Strona Główna", root_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "O mnie", home_about_path, class: "btn btn-warning" %>


</div>